# PostgreSQL — credentials for the database
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=your_db_host
POSTGRES_PORT=your_db_port

# Kafka — where producer and consumer connect
KAFKA_BOOTSTRAP_SERVERS=your_kafka_bootstrap_servers

# Producer settings
SYMBOLS=your_stock_symbols
FETCH_INTERVAL=your_fetch_interval_in_seconds